{
    "trailingComma": "none",
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSameLine": true,
    "useTabs": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf"
  }
